# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 7-zip-related
Asm/*
C/*
CPP/*
DOC/*
7z*-*.*
!7-zip-build.sh
!7-zip-patch-nsis.sh
7-Zip-zstd-*
*.zip
*.7z
*.tar.gz
/build/
/dist/

# busybox
buxybox*

# VC-LTL
VC-LTL/*

# editor
.idea
.vscode
